{% extends "base.html" %}
    {% block title %}All reviewed books{% endblock %}

    {% block subhead %}
        All reviewed books:
    {% endblock %}

    {% block content %}
    <div>
        <ol start="{{ start_num }}">
        {% for book, review_count in sorted_books if review_count %}
            <li><a href="{{ url_for('main.book_details', book_id=book.id) }}">{{ book.title }} ({{ review_count }})</a></li>
        {% endfor %}
        </ol>
        {{ pagination.links }}
    </div>
    {% endblock %}