<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Book recommendation system{% endblock %}</title>
</head>
<body>
{% block sidebar %}
<div>
    <a href="{{ url_for('home')}}">Home</a>
</div>
<div>
<a  href="{{ url_for('register')}}">Register</a>
</div>
<div>
<a  href="{{ url_for('login')}}">Login</a>
</div>
<div>
<a  href="{{ url_for('add_book')}}">Add book</a>
</div>
<div>
<a  href="{{ url_for('view_books')}}">View_books</a>
</div>
<br>
<div>
    <a href="{{ url_for('fill_db')}}">Add multiple books (Fills db with books)</a>
</div>

{% endblock %}
<br>
{% block content %}
{% endblock %}
</body>
</html>