<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Book recommendation system{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% block user_bar %}
<div>
    {% if current_user.is_authenticated %}
    Hello,&nbsp; {{ current_user.name }}!
        <a href="{{ url_for('profile') }}">Your profile</a>&nbsp;
        <a  href="{{ url_for('logout')}}">Logout</a>
    {% else %}
        <a  href="{{ url_for('register')}}">Register</a>&nbsp;
        <a  href="{{ url_for('login')}}">Login</a>
    {% endif %}
</div><br>
{% endblock %}

{% block sidebar %}
    <div>
        <a href="{{ url_for('home')}}">Home</a>
    </div>
    <div>
    <a  href="{{ url_for('add_author')}}">Add author</a>
    </div>
    <div>
    <a  href="{{ url_for('add_book')}}">Add book</a>
    </div>
    <div>
    <a  href="{{ url_for('view_books')}}">View_books</a>
    </div>
        <br>
    <div>
        <a href="{{ url_for('fill_db')}}">Add multiple books (Fills db with books)</a>
    </div>
    <br>
{% endblock %}

{% block flash %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <span>{{ message }}</span>
                </div><br>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}

{% endblock %}
</body>
</html>