<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Book recommendation system{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
<div class="user_bar">
{% block user_bar %}
    {% if current_user.is_authenticated %}
    Hello,&nbsp; {{ current_user.name }}!
        <a href="{{ url_for('profile') }}">Your profile</a>&nbsp;
        <a  href="{{ url_for('logout')}}">Logout</a>
    {% else %}
        <a  href="{{ url_for('register')}}">Register</a>&nbsp;
        <a  href="{{ url_for('login')}}">Login</a>
    {% endif %}
</div>
{% endblock %}

<div class="admin_bar">
{% block admin_bar %}
    {% if current_user.is_authenticated and current_user.name == "Admin" %}
    <a  href="{{ url_for('admin_page')}}">Administrator area</a>&nbsp|&nbsp
    <a  href="{{ url_for('add_author')}}">Add author</a>&nbsp|&nbsp
    <a  href="{{ url_for('add_book')}}">Add book</a>&nbsp|&nbsp
    <a  href="{{ url_for('view_users')}}">View users</a>&nbsp|&nbsp
    <a href="/admin">Flask-admin</a>&nbsp|&nbsp
    <a href="{{ url_for('fill_db')}}">Fill DB</a>
    {% endif %}
{% endblock %}
</div>

<div class="sidebar">
{% block sidebar %}
    <div>
    <a href="{{ url_for('home')}}">Home</a>

    <a  href="{{ url_for('view_books')}}">View all books</a>

    <a  href="{{ url_for('all_ratings')}}">View rated books</a>

    <a  href="{{ url_for('all_reviews')}}">View all reviewed books</a>

    <a  href="{{ url_for('all_read_listed')}}">View read listed books</a>

    <a  href="{{ url_for('search')}}">Search</a>
    </div>

</div>
{% endblock %}

<div class="subhead">
{% block subhead %}
    Welcome to the books database !
{% endblock %}
</div>

<div class="flash">
{% block flash %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <span>{{ message }}</span>
                </div><br>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endblock %}
</div>

<div class="content">
{% block content %}
    <div>
        Top 5 rated books:
        <ol>
        {% for book, rating in top5_books %}
            <li><a href="{{ url_for('book_details', book_id=book.id) }}">{{ book.title }} ({{ rating }})</a></li>
        {% endfor %}
        </ol>
    </div>
    <div>
        Top 5 most reviewed books:
        <ol>
        {% for book, review in top_reviewed_books %}
            <li><a href="{{ url_for('book_details', book_id=book.id) }}">{{ book.title }} ({{ review }})</a></li>
        {% endfor %}
        </ol>
    </div>
    <div>
        Top 5 books in most read lists:
        <ol>
        {% for book, read_listed in top_read_listed_books %}
            <li><a href="{{ url_for('book_details', book_id=book.id) }}">{{ book.title }} ({{ read_listed }})</a></li>
        {% endfor %}
        </ol>
    </div>
{% endblock %}
</div>
</body>
</html>