{% extends "base.html" %}
    {% block title %}Book details{% endblock %}

{% block subhead %}
    Here is the book you requested:<br><br>
        <span style="color: DarkMagenta; padding-left: 20px">{{ book.title }}</span><br>
        <span style="padding-left: 20px">by </span><span style="color: DarkRed;">{{ author.name }}</span>
    {% endblock %}

    {% block content %}

        Title: {{ book.title }}<br>
        Author: {{ author.name }}<br>
        Genres: {{ genres.name }}
        {% for genre in book.genres %}
            {{ genre.name }}{% if not loop.last %}, {% endif %}
        {% endfor %}<br>
        Rating: {{ avg_rating }}<br>
        In read list of {{ read_listed }} people<br>
        <a href="{{ url_for('main.book_reviews', book_id=book.id) }}">Reviews</a> ({{ review_count }})<br><br>


        {% if current_user.is_authenticated %}
        Your rating:
            {% if rating %}
                {{ rating.rating }}
                <br><a href="{{ url_for('main.rate_book', book_id=book.id) }}">Update your rating</a>
            {% else %}
                Not rated
                <br><a href="{{ url_for('main.rate_book', book_id=book.id) }}">Rate this book</a>
            {% endif %}
            <br>

            {% if book.id == toread.book_id %}
                This book is in your <a href="{{ url_for('main.to_read') }}">read list</a><br>
            {% else %}<br>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.submit() }}
                </form>
            {% endif %}
        <br>
            {% if review %}
                Your review:<br>
                <span style="padding-right: 1100px">{{ review.review }}</span><br>
                <a href="{{ url_for('main.write_review', book_id=book.id) }}">Update review</a>
            {% else %}
            <a href="{{ url_for('main.write_review', book_id=book.id) }}">Write review</a>
            {% endif %}

        {% else %}
        {% endif %}
    {% endblock %}