{% extends "base.html" %}
    {% block topic %}Book reviews{% endblock %}
    {% block subhead %}
        All reviews for
        <a href="{{ url_for('main.book_details', book_id=book.id)  }}"><span style="color: DarkMagenta; padding-left: 1px;">{{ book.title }}</span></a>
        <span style="color: DarkRed;">by {{ author.name }}</span> ({{ book.avg_rating }}) <br>
    {% endblock %}

    {% block content %}

        {% if rev_info %}
            <form method="POST" action="{{ url_for('main.book_reviews', book_id=book.id) }}">
            {{ form.hidden_tag() }}
            {{ form.sorted() }} {{ form.submit() }}
            <ol start="{{ start_num }}">
                {% for review in rev_info %}
                    <li>
                        Reviewed by<span style="color: DarkRed;"> {{ review.name }}</span> Rated: {{ review.rating}}<br>
                        {{ review.review }}
                    </li><br>
                {% endfor %}
            </ol>
            {{ pagination.links }}
            </form>

        {% else %}
            There are no reviews for this book yet.
        {% endif %}

    {% endblock %}

