{% extends "base.html" %}
    {% block topic %}Change password{% endblock %}
    {% block subhead %}
        Change password:
    {% endblock %}

    {% block content %}
    <form method="POST" action="{{ url_for('change_password') }}" autocomplete="off">
        {{ form.hidden_tag() }}
        <div>
            {{ form.old_password.label }} {{ form.old_password(autocomplete="new-old-password") }}
        </div><br>
        <div>
            {{ form.new_password.label }} {{ form.new_password(autocomplete="new-new-password") }}
        </div><br>
                <div>
            {{ form.confirm_password.label }} {{ form.confirm_password(autocomplete="new-confirm-password") }}
        </div><br>
        Change password: {{ form.submit() }}
    </form>

    {% endblock %}