{% extends "base.html" %}
    {% block topic %}Profile{% endblock %}

    {% block subhead %}
        Welcome to your profile, {{ user.name }}!
    {% endblock %}

    {% block content %}

        <div>
        <a href="{{ url_for('edit_profile') }}">Edit profile</a>
        </div><br>
        <div>
        <a href="{{ url_for('your_ratings') }}">Your ratings</a>
        </div>
        <div>
        <a href="{{ url_for('to_read') }}">Your read list</a>
        </div>
        <div>
        <a href="{{ url_for('your_reviews') }}">Your reviews</a>
        </div>
    {% endblock %}
