{% extends "base.html" %}
    {% block title %}Recommended for You{% endblock %}

    {% block subhead %}
        Recommended for You:
    {% endblock %}

{% block content %}
    <div class="block-container">
        {% for original_book, sub_results in separate_results %}

        <div class="block">Users who liked
        <a href="{{ url_for('main.book_details', book_id=original_book.id) }}">{{ original_book.title }} ({{ original_book.avg_rating }})</a>
        also liked:
        {% if sub_results %}
        <ol start="{{ start_num }}">{% for book, avg_rating in sub_results[:5] %}
            <li>
                <a href="{{ url_for('main.book_details', book_id=book.id) }}">{{ book.title }} ({{ avg_rating }})</a>
                <br>
            </li>
        {% endfor %}
        </ol>
        {% else %}
             <br><div style="padding-left: 20px">No one else rated this book 5 yet.</div>
        {% endif %}
        </div>
        {% endfor %}
    </div>
    <hr>
    <div class="block">
        Favorite books of all users with similar rates to you:
        <ol>
        {% for book, rating in sorted_books[:10] %}
            <li><a href="{{ url_for('main.book_details', book_id=book.id) }}">{{ book.title }} ({{ rating }})</a></li>
        {% endfor %}
        </ol>
    </div>
    {% endblock %}