{% extends "base.html" %}
    {% block title %}Recommended for You{% endblock %}

    {% block subhead %}
        Recommended for You:
    {% endblock %}

{% block content %}
     <div class="blocker----">

     <div class="block">
        {% for original_book, sub_results in separate_results %}
         <div class="block_in">Users who liked
            <a href="{{ url_for('main.book_details', book_id=original_book.id) }}">{{ original_book.title }} ({{ original_book.avg_rating }})</a>
            also liked:
            <ul>{% for book, avg_rating in sub_results %}
                <li>
                    <a href="{{ url_for('main.book_details', book_id=book.id) }}">{{ book.title }} ({{ avg_rating }})</a>
                    <br>
                </li>
            {% endfor %}</ul>
        {% endfor %}
         </div>
     </div>
     </div>

    <div class="block">
        Favorite books of all users with similar rates to you:
        <div>
            <ol>
            {% for book, rating in sorted_books %}
                <li><a href="{{ url_for('main.book_details', book_id=book.id) }}">{{ book.title }} ({{ rating }})</a></li>
            {% endfor %}
            </ol>
        </div>
    </div>
    {% endblock %}