{% extends "base.html" %}
{% block topic %}Search{% endblock %}
{% block subhead %}
    Search for book here:
{% endblock %}

{% block content %}
{% if form %}
    <form method="POST">
        {{ form.csrf_token }}
        Search for a title: {{ form.title }} {{ form.review.label }} {{ form.review }}<br><br>
        Search for an author: {{ form.author }}
        or {{ form.select_author }}<br><br>
        Search for a genre: {{ form.genre }}
        or {{ form.select_genre }}<br><br>
        {{ form.rating_min.label }} {{ form.rating_min }}
        {{ form.rating_max.label }} {{ form.rating_max }}
        {{ form.sort_by.label }} {{ form.sort_by }}<br><br>
        {{ form.submit }}
    </form>
{% endif %}

{% if results %}
    <br>We have found {{ count }} books meeting your search criteria:<br><br>
    <ol>
        {% for result in results %}
            <li>
                <a href="{{ url_for('main.book_details', book_id=result['id']) }}">
                    <span style="color: DarkMagenta;">{{ result['title'] }}</span>
                </a> by {{ result['author']['name'] }} - Genres:
                {% for genre in result['genres'] %}
                    {{ genre['name'] }}{% if not loop.last %}, {% endif %}
                {% endfor %}
                - Rating: {{ result['avg_rating'] }}
            </li>
        {% endfor %}
    </ol>
    {% if count > 50 %}
<div style="padding-left: 30px">(50 results out of {{ count }} displayed)</div>
    {% endif %}
{% endif %}<hr>
{% if current_user.is_authenticated %}
<h4>Your last 10 previous searches:</h4>
<ul>
    {% for search in saved_searches %}
        <li>
            <a href="{{ url_for('main.load_saved_search', search_id=search['search_id']) }}">
                Search performed on {{ search['timestamp'][:10] ~ " at " ~ search['timestamp'][11:19] }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}