{% extends "base.html" %}
    {% block topic %}Write review{% endblock %}

    {% block subhead %}
        Write your review here:
    {% endblock %}

    {% block content %}
                    <a href="{{ url_for('book_details', book_id=book.id)  }}"><span style="color: DarkMagenta;">{{ book.title }}</span></a>
                    <span style="color: DarkRed;">by {{ author }}</span> <br><br>

        {% if review %}
            Your current review:<br><br>
            {{ review.review }}<br><br>
            Update your review:
        {% else %}

        {% endif %}

        <form method="POST">
    <div>
        {{ form.csrf_token }}
        {{ form.review.label }} {{ form.review }}<br><br>

        {% if form.review.errors %}
                <ul>
                    {% for error in form.review.errors %}
                        <li style="color: red;">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

        {{ form.submit }}
    </div>
    </form>
    {% endblock %}
