{% extends "base.html" %}
    {% block topic %}Your reviews{% endblock %}
    {% block subhead %}
        All your reviews:
    {% endblock %}

    {% block content %}
        {% if rev_info %}
            {% for review in rev_info %}
              <ul>
                <li>
                    <a href="{{ url_for('book_details', book_id=review.book_id)  }}"><span style="color: DarkMagenta;">{{ review.book_title }}</span></a>
                    <span style="color: DarkRed;">by {{ review.author_name }}</span> <br>
                    {{ review.review }}<br>
                    <a href="{{ url_for('write_review', book_id=review.book_id) }}">Update review</a>
                </li>
              </ul>
            {% endfor %}
        {% else %}
            You have not reviewed any books yet.
        {% endif %}

    {% endblock %}