body {
    background-color: Beige;
    padding: 5px
}
.user_bar {
    background-color: CadetBlue;
    padding: 5px
}
.sidebar {
    background-color: Tan;
    padding: 5px
}
.subhead {
    background-color: Wheat;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
}
.admin_bar {
    background-color: #FF7F7F;
    padding: 5px;
}
.content {
    background-color: Wheat;
    padding: 5px;
    padding-right: 1200px;
}
.flash {
    background-color: Wheat;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
}
.alert-success {
    color: Green;
}
.alert-warning {
    color: Red;
}
.alert-error {
    color: Red;
}
.alert-info {
    color: Blue;
}

