body {
    background-color: Beige;
    padding: 5px
}
.user_bar {
    background-color: CadetBlue;
    padding: 5px
}
.sidebar {
    background-color: Tan;
    padding: 5px;

}
.sidebar a {
    margin-right: 5px;
}

.sidebar a:not(:first-child)::before {
    content: "|";
    margin-right: 5px;
}

.subhead {
    background-color: Wheat;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
}
.admin_bar {
    background-color: #FF7F7F;
    padding: 5px;
}
.content {
    background-color: Wheat;
    padding: 5px;
    padding-right----------removed: 1100px;
}
.block{
    display: inline-block;
}
.flash {
    background-color: Wheat;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
}
.alert-success {
    color: Green;
}
.alert-warning {
    color: Red;
}
.alert-error {
    color: Red;
}
.alert-info {
    color: Blue;
}
a:link {
    color: Blue;
}

/* Visited link */
a:visited {
    color: Purple; /* Replace #800080 with your desired color for visited links */
}

/* Mouse over link */
a:hover {
    color: #DarkRed; /* Replace #cc0000 with your desired hover color */
}

/* Selected link (when focused) */
a:focus {
    color: #DarkRed; /* Replace #cc0000 with your desired focus color */
}

/* Active link (when clicked) */
a:active {
    color: #DarkRed; /* Replace #cc0000 with your desired active color */
}